@charset "UTF-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/

@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);

img, object, embed, video {
	max-width: 100%;
	height: auto;
}

/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

.fluid {
	clear: both;
	margin-left: 0;
	width: 100%;
	float: left;
	display: block;
}

.fluidList {
    list-style:none;
    list-style-image:none;
    margin:0;
    padding:0;        
}
body {
	background-image:url(../images/bgcolor.jpg);
	color: #636363;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: .95em;
	margin: 0;
}

#container2 .transparency {
	opacity:0.2;
	filter:alpha(opacity=20);
	-moz-opacity:0.2;
	background-image: url(../images/atmghost2.png);
	width:100%;
	height:120%;
	position:absolute;
	top:0px;
	left:0px;
	z-index:-1;
}

/* header */

.content{
	margin: 0;
}

#top {
	padding: 0;
	width: 100%;
	margin-bottom: 16px;
	/*background-color:#FFFFFF*/
}

.topnav {
	padding: 9px 12px 0;
	width: 96%;
	background-color:#FFFFFF;/**/
	text-align: right;
}

.topnav a {
	color: #999999;
	font-weight:700;
	text-decoration: none;
	text-align: right;
}

.topnav a:hover {
	color: #FF7F00;
	font-weight:700;
	text-decoration: none;
}

.topnav a:active {
	color: #FF7F00;
	font-weight:700;
	text-decoration: underline;
}

.down  {
	color: #FF7F00;
}


/* text */

h1 {
	font-size: 1.85em;
	color: #DBF629;
	line-height: 110%;
}

.intro {
	margin-left: 30px;
	color: #ffffff;
	min-width: 220px;
	max-width: 400px;
	line-height: 21px;
	float: left;
}
.emphasis {
	color: #95EE34;
	font-size: 150%;
}

.emp1 {
	color: #95EE34;
}

.emp2 {
	color: #FF8000;
}

.emp3 {
	color: #DBF629;
}

.emp4 {
	color: #EFC72F;
}

/* slideshow */

#dispenser-area {
	max-width: 800px;
	margin: 18px;
	height: 500px;
	float: left;
}
#dispenser-image {
	display: block;
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
}
.container {
	max-width: 700px;
    width: 100%;
	margin: -34px auto; 
	overflow: hidden;
	position: relative;
	height: 100%;
}
figure {
	width: 93%;
	max-width: 635px;
	margin: 0 auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

figure img {
	width: 100%;
	max-width: 635px;
    display: block;
}

figcaption {
    margin: -50px auto;
	color: #FFFFFF;
	text-align: center;
	font-size: 2em;
}	

@-webkit-keyframes cycle { 
0% {transform: perspective(26px) rotateX(3.25deg) scaleX(.75) translateY(-650px); 
visibility: hidden; opacity: 0; z-index:0;}
2.5%{transform: perspective(26px) rotateX(3.25deg) scaleX(.75) translateY(-650px); 
visibility: visible; opacity:1; z-index: 5;}
5% {transform: perspective(28px) rotateX(2.75deg) scaleX(.8)  translateY(-100px); 
opacity:1; z-index: 1;}
7.5% {transform: perspective(0px) rotateX(1.75deg) scaleX(1)  translateY(50px); 
opacity:1; z-index: 1;}
10% {transform: perspective(0px)  rotateX(0deg)  scaleX(1)  translateY(50px); 
opacity:1; z-index: 1;}
20% {transform: perspective(0px)  rotateX(0deg)  scaleX(1)  translateY(50px); 
opacity:1; z-index: 1;}
22.5% {transform: perspective(0px) rotateX(0deg) scaleX(1)  translateY(50px); 
opacity:0;  z-index: 0;}
25% {transform: perspective(0px)  rotateX(0deg)  scaleX(1) translateY(50px); 
visibility: hidden; opacity:0; z-index:0;}
100%{transform: perspective(0px)  rotateX(0deg)  scaleX(1) translateY(50px); 
visibility: hidden; opacity:0; z-index:0;}
}

.container figure {	animation: cycle 40s ease-in-out infinite;
					-webkit-animation: cycle 40s ease-in-out infinite; }

.container figure:nth-child(1){ -webkit-animation-delay: 0s;animation-delay: 0s;
z-index: 4; }
.container figure:nth-child(2){ -webkit-animation-delay: 10s;animation-delay: 10s;
z-index: 3; visibility: hidden; }
.container figure:nth-child(3){ -webkit-animation-delay: 20s;animation-delay: 20s;
z-index: 2; visibility: hidden; }
.container figure:nth-child(4){ -webkit-animation-delay: 30s;animation-delay: 30s;
z-index: 1; visibility: hidden; }

/*inner pages*/
 
.formfields {
	margin-bottom: 3px;
}

.zeroMargin_mobile {
margin-left: 0;
}
.hide_mobile {
display: none;
}

input {
	margin-bottom: 10px;
}
textarea {
	width: 100%;
}

/* Mobile Layout: 320px and above. */

@media only screen and (min-width: 320px) {
	
.intro {
	margin-left: 28px;
	min-width: 90%;
	max-width: 90%;
	font-size: 1em;
	line-height: 1.5em;
	margin: 16px;
}

.inner img {
	float: right;
	margin: 0 0 12px 16px;
	clear:right;
}

.inner {
	margin: 32px;
	min-width: 85%;
	max-width: 85%;
	padding: 30px;
	-webkit-box-shadow: 2px 2px 1px 3px #85B7DD;
	box-shadow: 2px 2px 1px 3px #85B7DD;
	background-color: #FFFFFF;
	float: left;
}

.cs-shadow .cs-slider img {
	font-size: 300%;
}

.topnav a {
	margin-right: 8px;
}

.container {
	margin: -19px auto; 
}

figcaption {
	font-size: 1.6em;
}	
}

/* Mobile Layout: 380px and above. */

@media only screen and (min-width: 381px) {
	
.intro {
	margin-left: 30px;
	min-width: 90%;
	max-width: 90%;
}

/*.inner {
	margin-left: 22px;
	max-width: 70%;
	min-width: 70%;
}
*/
.topnav {
	width: 96%;
}

textarea {
	width: 100%;
}

.container {
	margin: -24px auto; 
}

}

/* Mobile Layout: 400px and above. */

@media only screen and (min-width: 401px) {
	
.intro {
	margin-left: 32px;
	min-width: 90%;
	max-width: 90%;
}

/*.inner {
	margin-left: 22px;
	max-width: 75%;
	min-width: 75%;
}
*/
.callbacks_container {
width: 98%;
}

.topnav {
	width: 96%;
}

.container {
	margin: -24px auto; 
}

figcaption {
	font-size: 1.8em;
}	
}
/* Mobile Layout: 480px and above. */
  
@media only screen and (min-width: 480px) {
	
.content{
	position:relative;
	margin: 0;
	background-image: url(../images/header-bg.png);
	background-position: 0% 100%;
	background-repeat: repeat-x;
}

.intro {
	margin-left: 34px;
	min-width: 90%;
	max-width: 90%;
}
/*.inner {
	max-width: 80%;
	min-width: 80%;
}
*/
h1 {
	font-size: 2em;	
}

.hide_tablet {
display: none;
}
.zeroMargin_tablet {
margin-left: 0;
}

.container {
	margin: -28px auto; 
}

}

/* Mobile Layout: 640px and above. */

@media only screen and (min-width: 641px) {

.content{
	background-position: 0% 100%;
}

.content img {
	margin-left:120px;
}

.container {
	margin: -37px auto; 
}

}

/* Mobile Layout: 800px up are side by side */

@media only screen and (min-width: 801px) {
	
.intro {
	margin-left: 38px;
	max-width: 90%;
	min-width: 90%;
}

#dispenser-area {
	margin-top: 34px;
}

.container {
	margin: -37px auto; 
}

.content img {
	margin-left: 287px;
}

}

@media only screen and (min-width: 1000px) {
	
.container {
	margin: -26px auto; 
}

.intro {
	margin-left: 38px;
	max-width: 46%;
	min-width: 46%;
}

.inner {
	margin-left: 38px;
	max-width: 880px;
	min-width: 880px;
}

#dispenser-area {
	margin-top: 34px;
	max-width: 45%;
	min-width: 45%;
}
}

@media only screen and (min-width: 1200px) {

.container {
	margin: -34px auto; 
}

#dispenser-area {
	margin-top: 34px;
}

}